---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import FeatureBar from "../components/FeatureBar.astro";
import { pages } from "../data/config.json";
const { home } = pages;
const {
  pageTitle,
  description,
  heroHeading,
  heroSubheading,
  mainHeading,
  mainContent,
} = home;
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <Hero
    heading={heroHeading}
    subheading={heroSubheading}
  />
  <main class="container mt-3">
    <h1>{mainHeading}</h1>
    {mainContent.map((cont) => <p>{cont}</p>)}
  </main>
  
</BaseLayout>
