---
import { company, areas, services } from "../data/config.json";
import { Image } from "astro:assets";
import companyLogo from "../images/logo.svg";
import slug from "../utils/slug"
---

<nav class="navbar navbar-expand-lg py-4 border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">
      <Image src={companyLogo} class="site-logo" alt={`${company.name} logo`} />
       <!-- {company.name} -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Services
          </a>
          <ul class="dropdown-menu">
            {
              services.map((svc) => (
                <li>
                  {" "}
                  <a class="dropdown-item" href={`/services/${slug(svc)}`}>
                    {svc}
                  </a>{" "}
                </li>
              ))
            }
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Areas
          </a>
          <ul class="dropdown-menu">
            {
              areas.map((area) => (
                <li>
                  <a class="dropdown-item" href={`/areas/${slug(area.name)}`}>
                    {area.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </li>
        <a href="/get-quote" class="btn btn-primary ms-lg-3 mt-2 mt-lg-0 text-light"
          >Get Quote</a
        >
      </ul>
    </div>
  </div>
</nav>
